
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.product {
    flex: 0 0 30%; 
    max-width: 300px;
    box-sizing: border-box;
    margin: 10px; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
}

.product h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333;
}

.product button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.product button:hover {
    background-color: #555;
}


@media (max-width: 768px) {
    .product {
        flex: 0 0 45%; 
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .product {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}
