.reviews {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.review-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
    max-width: 90%; 
    text-align: left;
}

.review-item p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
    line-height: 1.5;
}

.review-item span {
    font-weight: bold;
    color: #4A4A4A;
}


.video-section {
    padding: 40px 20px; 
    margin: 10px 0;
    text-align: center; 
    background-color: #f9f9f9; 
}


.video-container {
    width: 600px; 
    height: 335px;
    margin: 0 auto; 
    overflow: hidden; 
    border-radius: 10px; 
    background-color: #000; 
}


.video-container video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
}

@media (max-width: 768px) {
    .review-item {
        margin: 10px auto;
        width: 90%;
        text-align: center;
    }

    .reviews {
        padding: 20px 10px;
    }
}